/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body {
	font-size: 1.05em;
	line-height: 1.25em;
  font-family: 'Helvetica Neue', 'Open Sans', "Arial";
	background: #f9f9f9;
}

h1{
  font-family: "Bree Serif", "Arial", "Open Sans";
  font-size: 3em;
  line-height: 1.15em;
  margin: 20px 0 ;
}

h2{
	font-family: "Bree Serif", "Arial", "Open Sans";
	font-size: 2em;
	line-height: 1.15em;
	margin: 20px 0 ;
}

.home-intro-section{
  padding-top: 100px;
	background-image: url("https://s3.amazonaws.com/stardiagnostics/shutterstock_269015753_compressed.jpg");
  height: 80vh;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

}

.home-intro-section-text{
  width: 85%;
  margin: 0 auto;
  margin-top: 80px;
}

.home-intro-left{
  width: 60%;
}




.home-services{
  width: 80%;
  margin: 0 auto;
	margin-top: 100px;
  text-align: center;
}

.home-services h2, .submission-form-section h2{
	margin: 60px;
}

.home-services-row{
  width: 100%;

}



.column{
  width: 33%;
	margin: 0 auto;
  float: left;
}


.column img, .column h3{
	margin-bottom: 30px;
}


.page-title{
	padding: 100px 0px 60px;
}

.home-intro-left h1, .home-intro-left p, .home-intro-left a{
	margin-bottom:20px;
}



/* home page FORM */

.submission-form-section{
	width: 80%;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;

}

.submission-form-section p{
	margin: 30px;
}



input, textarea{
  width: 50%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


form{
text-align: center;
}





/*form ends */


/* ////////////////About Page ///////////////// */

.about-page{
	width: 80%;
  margin: 0 auto;
  text-align: center;
}



.about-page-row{
	width: 100%;
	margin: 0 auto;
	text-align: center;

}


.about-page-clear{
	clear: both;
}



.about-page-section{
	padding: 30px 0px;
}


.bridging-row{
	width: 100%;
	display: flex;
	justify-content: space-around;
}



.bridging-row-item{
	width: 45%;
}

.services-item{
	clear:both;
}




/*   ////services page ////// */

.services-page{
	width: 75%;
  margin: 0 auto;
  text-align: center;
}

.services-item img{
	padding: 30px;
}




/* ///////// locations page ////////// */
.locations-page{
	text-align: center;
	margin: 0 auto;
	width: 75%;

}

.locations-row{
	width: 100%;
	display: flex;
	justify-content: center;

}

.locations-row-item{
	width: 40%;

}

.locations-row-item a{
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}

.locations-row-item a:hover{
	color: #444;

}




/*  ///////////////// buttons ///////////////// */
.button{
		font-family: 'Helvetica Neue';
    border: none;
		padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  	min-width: 200px;
}

.button-blue{
    background-color: blue;
    color: white;
}

.button-white{
  background-color: #F5F6FA;
  color: black;
}

.learn-more-button{
  /* clears l/r of button and centers */
	padding-top: 100px;
  clear:both;
}





/*////////////////////////MEDIA QUERIES/////////////////  */



@media only screen and (max-width : 880px) {




.home-intro-section-text{
  width: 100%;
  margin: 0 auto;
	margin-top: 80px;

}

.home-intro-left{
  width: 80%;
  margin: 0 auto;

}


.home-buttons{
	text-align: center;

}



.column{
  /* services row becomes full width */
  width: 100%;
	margin-bottom: 30px;
}

.bridging-row-item{
	width: 100%;
}



.locations-page{
	width: 100%;
}
.locations-row-item{
	width: 50%;

}

.locations-row-item h2{
	font-size:1.15em;
}





}
