html, body{
  /* background-color: salmon; */

}

*{
	/* padding:0; */
	/* margin:0; */
}

.column{
  float: left;
  width: 33.33%;
  /* padding: 10px; */
   /* height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns?? */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer{
  position: fixed;
  bottom: 0
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}



/* Media queries columns */

/* When the screen width is less than 600px, make three columns stack on top of each other instead of next to each other*/
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media( max-height: 800px){
  /* footer { position: static; } */
}
